<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <iframe width="300" height="250"  src="http://s280.photobucket.com/user/Avi_Karn/embed/slideshow/"></iframe>
                <iframe width="300" height="250"  src="  http://s36.photobucket.com/user/vivekstha/slideshow/MU%20Plant%20Research%20Symposium%202018"></iframe>
                <hr>
                <h2 class="section-heading">About the Symposium</h2>
                <hr class="light"><p><img src="/img/logo2018.png" alt="MU Pioneer Symposium Logo" width="300" height="360"></p>
<p>The University of Missouri-Columbia (Mizzou) is excited to be hosting its third annual MU Plant Research Symposium entitled: "Feeding the Future: Utilizing Diverse Plant Resources for Tomorrow's Crop Improvement". This symposium is a part of <a href="https://www.pioneer.com/home/site/about/research/PlantSciSymposiaSeries/" target="_blank">The DuPont Plant Sciences Symposia series  </a> , which provides an opportunity for the next generation of scientists to interact with both public and private experts through student-driven and organized events at different academic institutions worldwide.</p>
<p> The aim of this symposium is to bring together numerous groups across Mizzou, other universities, and the community with vastly diverse research directed towards a unified goal: improving crops to solve problems facing food and agriculture today. In connection, participants presenting a poster or a talk will  be required to have a section focusing on how their research can be applied to improve tomorrow's crops.</p>
<p>The symposium welcomes all members of the scientific and surronding communities including, but not limited to, undergraduate students, graduate students, post-docs, technicians, high school students, and professors. Registration is free to all attendees. </p>
<hr>
                <p>The MU Plant Research Symposium Planning Committee is composed of six Ph.D. graduate students and a post doc in the Divisions of Biological and Plant Sciences at the University of Missouri: Vivek Shrestha,Katy Guthrie, Nick Dietz, Deepika Mohanty, Abiskar Gyawali, Mani Awale and Michaela Matthes under the advisement of <a href="http://web.missouri.edu/~flint-garcias/" target="_blank">Dr. Sherry Flint-Garcia</a></p>
                <p><img src="/img/3rdyearcommittee.png" style="max-width: 110%;"></p> 
                
            </div>
        </div>
    </div>
</section>
