<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About the Symposium</h2>
                <hr class="light">
                <p><img src="/img/logo.png" alt="MU Pioneer Symposium Logo" style="max-width: 90%;"></p>
<p>The Univeristy of Missouri-Columbia (Mizzou) is excited to be hosting it's first annual MU DuPont Pioneer Plant Sciences Symposium entitiled: "Building the Bridge from Fundemetal Research to Improving Tomorrow's Crop".This symposium is a part of <a href="https://www.pioneer.com/home/site/about/research/PlantSciSymposiaSeries/">The DuPont Plant Sciences Symposia series </a> , which provides an opportunity for the next generation of scientists to interact with both public and private experts through student-driven and organized events at different academic institutions worldwide.</p>
<p> The aim of this symposiumn is to bring together numerous groups across Mizzou, other universities, and the community with vastly diverse research directed towards a unified goal: improving crops to solve problems facing food and agriculture today. In connection, participants presenting a poster or a talk will  be required to have a section focusing on how their research can be applied to improve tomorrow's crop.</p>
<p>The symposium welcomes all members of the scientific and surronding comminuties including, but not limited to, undergraduate students, graduate students, post-docs, technicians, high school students, and professors. Registration is free to all attendees. </p>
<hr>
                <p style="font-size:25px">The MU DuPont Pioneer Symposium Planning Committee is composed of six Ph.D. graduate students in the Divisions of Biological and Plant Sciences at the University of Missouri: Dalton Ludwick, Ben Julius, Katy Guthrie, Avinash (Avi) Karn, Marianne Emery, and Morgan Halane under the advisement of <a href="http://beissingerlab.org/">Dr. Tim Beissinger</a></p>
                <p><img src="/img/group.png" style="max-width: 95%;"></p>
            </div>
        </div>
    </div>
</section>
