<section id="footer">
    <div class="container">
        <div class="row">
            <p>This event is sponsored by:</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/pioneer.jpeg" width="300px" />
                    <h3>DuPont Pioneer</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/ipg.png" width="150px" />
                    <h3>IPG</h3>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/dps.png" width="300px" />
                    <h3>Division of Plant Sciences</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/mubiology.png" width="300px" />
                    <h3>Division of Biological Sciences</h3>
                </div>
            </div>
        </div>
    </div>
    <hr style="clear: both;" />
    <div class="container">
        <div class="row">
            <div class="text-center" style="color: #777; margin: 3em 0;">
              <p style="font-size: 0.8em;">Photo credits: Gillie Rhodes "Corn field" / flickr | Web design: Huan Truong / MU Informatics Institute</p>
            </div>
        </div>
    </div>
</section>
