<section id="footer">
    <div class="container">
        <div class="row">
            <p>The MU DuPont Pioneer Symposium Planning Committee is composed of five Ph.D. graduate students in the Divisions of Biological and Plant Sciences at the University of Missouri: Dalton Ludwick, Ben Julius, Katy Guthrie, Avi Karn, and Morgan Halane under the advisement of Dr. Tim Beissinger.</p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/pioneer.jpeg" width="150px" />
                    <h3>DuPont Pioneer</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/ipg.png" width="150px" />
                    <h3>IPG</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/mulogo.jpeg" width="150px" />
                    <h3>University of Missouri</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="/img/dps.png" width="150px" />
                    <h3>Division of Plant Sciences</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <p style="font-size: 0.8em">Photo credits: Gillie Rhodes "Corn field" / flickr</p>
            </div>
        </div>
    </div>
</div>
