<header>
    <div class="header-content">
        <div class="header-content-inner">
            <br/><br/><br/>
            <h1 style="background-color:black;">MU Plant Research Symposium 2022</h1>
            <h2 style="background-color:black;">"Improving Plants With Scientific and Technological Advancement"</h2>
            <h2 style="background-color:black;">February 11 (Friday), 2022 | In-Person & Virtual </h2>
            <br/><br/><br/><br/><br/>
            <a target="_blank" href="register.html" class="btn btn-primary btn-xl page-scroll">Register</a> 
            <a target="_blank" href="abstract.html" class="btn btn-primary btn-xl page-scroll">Submit Abstract</a>
        </div>
    </div>
</header>
